# Node dependencies
node_modules/

# Build output
dist/
build/

# Datasets
public/data/*.pcd

# Auxiliary files
aux/
space_partitioning_2026.pdf

# OS files
.DS_Store
Thumbs.db

# Ignore all LaTeX build artifacts in report/ except .tex and .pdf
report/*
!report/*.tex
!report/*.pdf

